# Introduction to Python

 - Lists, tuples, sets, dicitonaries, zip
 - List Comprehension
 - Functions, lambda, classes

In [3]:
mylist = 'Lists, tuples, sets, dicitonaries, zip'.split(',')

In [4]:
mylist

['Lists', ' tuples', ' sets', ' dicitonaries', ' zip']

In [5]:
tel = '0567-987-45-67'

In [7]:
type(tel)

str

In [10]:
mylist = tel.split('-')

In [11]:
mylist

['0567', '987', '45', '67']

In [13]:
mylist[0] = '0555'

In [14]:
mylist

['0555', '987', '45', '67']

In [15]:
mytuple = tuple('Lists, tuples, sets, dicitonaries, zip'.split(','))

In [16]:
mytuple

('Lists', ' tuples', ' sets', ' dicitonaries', ' zip')

In [19]:
mytuple[0] = '0555'

TypeError: 'tuple' object does not support item assignment

In [20]:
mytuple = ('ahmet', 5)

In [23]:
mylist = 'Lists, tuples, sets, dicitonaries, zip'.split(',')

In [24]:
mylist[-1]

' zip'

In [25]:
mylist

['Lists', ' tuples', ' sets', ' dicitonaries', ' zip']

In [26]:
mylist[-1]

' zip'

In [27]:
mylist = [4,6,3,1,6,7,4,2]

In [28]:
help(mylist.sort)

Help on built-in function sort:

sort(...) method of builtins.list instance
    L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*

In [30]:
mylist.sort()

In [31]:
mylist

[1, 2, 3, 4, 4, 6, 6, 7]

In [32]:
mylist[-1]

7

In [33]:
help(mylist.clear)

Help on built-in function clear:

clear(...) method of builtins.list instance
    L.clear() -> None -- remove all items from L

In [34]:
mylist.clear()

In [35]:
mylist

[]

In [36]:
mylist.clear?

In [37]:
mylist = [4,6,3,1]
people = ['Ayse', 'uzay', 'ahmet', 'Zeynep']

In [38]:
people

['Ayse', 'uzay', 'ahmet', 'Zeynep']

In [39]:
mylist

[4, 6, 3, 1]

In [79]:
zipped = zip(people,mylist)

In [80]:
for t in zipped:
    print(t)

('Ayse', 4)
('uzay', 6)
('ahmet', 3)
('Zeynep', 1)

In [83]:
zipped = zip(people,mylist)

In [84]:
[t[0] for t in zipped]

['Ayse', 'uzay', 'ahmet', 'Zeynep']

In [85]:
mylist = [1,4,5,3,1,5,6]

In [87]:
squredList = []
for item in mylist:
    squredList.append(item**2)
squredList

[1, 16, 25, 9, 1, 25, 36]

In [88]:
[item**2 for item in mylist]

[1, 16, 25, 9, 1, 25, 36]

# Dictionary

a collection of key-value pairs

In [94]:
customers = {'uzay': {'score':4, 'age':24}, 'ayse': {'score':4, 'age':44}}

In [98]:
customers['ayse']['age'] = 28

In [99]:
customers['ayse']

{'score': 4, 'age': 28}

In [100]:
customers

{'uzay': {'score': 4, 'age': 24}, 'ayse': {'score': 4, 'age': 28}}

In [92]:
population = {'agent0': [0,0,0], 'agent1': [0,0,1]}

In [93]:
population['agent0']

[0, 0, 0]

In [101]:
population

{'agent0': [0, 0, 0], 'agent1': [0, 0, 1]}

In [102]:
population['agent2'] = [0, 1, 0]

In [103]:
population

{'agent0': [0, 0, 0], 'agent1': [0, 0, 1], 'agent2': [0, 1, 0]}

## set
- distinct items

In [104]:
A = {3,4,3,4,4,4}

In [105]:
A

{3, 4}

In [106]:
B = {3,4,5}

In [107]:
A.intersection(B)

{3, 4}

# Functions

In [108]:
def hello():
    print('hello world')

In [109]:
hello()

hello world

In [111]:
def power(x,n):
    return x**n

In [112]:
power(x = 2,n = 5)

32

In [113]:
power(2,5)

32

In [114]:
power(5,2)

25

To-do
 - 5th power on first 20 numbers
 - use power function
 - and list comprehension

In [116]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [117]:
[power(i,5) for i in range(20)]

[0,
 1,
 32,
 243,
 1024,
 3125,
 7776,
 16807,
 32768,
 59049,
 100000,
 161051,
 248832,
 371293,
 537824,
 759375,
 1048576,
 1419857,
 1889568,
 2476099]

In [120]:
[(i, power(i,5)) for i in range(20) if i %4 == 0]

[(0, 0), (4, 1024), (8, 32768), (12, 248832), (16, 1048576)]

# Class

In [127]:
import numpy as np

In [128]:
help(np.random.rand)

Help on built-in function rand:

rand(...) method of mtrand.RandomState instance
    rand(d0, d1, ..., dn)

    Random values in a given shape.

    Create an array of the given shape and populate it with
    random samples from a uniform distribution
    over ``[0, 1)``.

    Parameters
    ----------
    d0, d1, ..., dn : int, optional
        The dimensions of the returned array, should all be positive.
        If no argument is given a single Python float is returned.

    Returns
    -------
    out : ndarray, shape ``(d0, d1, ..., dn)``
        Random values.

    See Also
    --------
    random

    Notes
    -----
    This is a convenience function. If you want an interface that
    takes a shape-tuple as the first argument, refer to
    np.random.random_sample .

    Examples
    --------
    >>> np.random.rand(3,2)
    array([[ 0.14022471,  0.96360618],  #random
           [ 0.37601032,  0.25528411],  #random
           [ 0.49313049,  0.94909878]]) #random

In [130]:
np.random.randint?

In [136]:
np.random.randint(3)

2

In [137]:
class agent():
    def __init__(self, idx):
        self.id = idx
        self.actions = ['left', 'right', 'up']
        
    def action(self):
        action_index = np.random.randint(len(self.actions))
        return self.actions[action_index]

In [138]:
a = agent(5)

In [139]:
a.id

5

In [140]:
a.action()

'left'

In [141]:
a.action()

'up'

In [142]:
a.action()

'up'

In [143]:
a.action()

'left'

In [145]:
f = lambda x : x**3
[f(x) for x in range(5)]

[0, 1, 8, 27, 64]